doctype html
html
  head
    //- Google tag (gtag.js)
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-XEGHJM83T2')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-XEGHJM83T2');
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='Title' content='Room D - OPP 2024 SPRING «New Face»')
    meta(property='og:title' content='Room D - OPP 2024 SPRING «New Face»')
    meta(property='og:type' content='website')
    meta(property='og:url' content='https://oopppp.xyz/2024/room-d')
    meta(name='Description' content='OPP의 2024년 봄 구성원들은 자신이 좋아하고 널리 알리고 싶은 다섯 권의 책을 추천한 뒤 각 책을 감쌀 수 있는 책싸개를 디자인했습니다. 책의 제목, 내용 전체 혹은 문장 한 줄, 기존의 표지, 관련된 개인적 경험 등 서로 다른 관점에서 서로 다른 방식으로 재해석된 이 책싸개들은 방문자에게 인쇄 가능한 PDF 파일로 제공됩니다.')
    meta(property='og:description' content='OPP의 2024년 봄 구성원들은 자신이 좋아하고 널리 알리고 싶은 다섯 권의 책을 추천한 뒤 각 책을 감쌀 수 있는 책싸개를 디자인했습니다. 책의 제목, 내용 전체 혹은 문장 한 줄, 기존의 표지, 관련된 개인적 경험 등 서로 다른 관점에서 서로 다른 방식으로 재해석된 이 책싸개들은 방문자에게 인쇄 가능한 PDF 파일로 제공됩니다.')
    meta(property='og:image' content='/assets/images/meta/og-newface.jpg')
    link(rel='apple-touch-icon' sizes='57x57' href='/2024/assets/images/favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60' href='/2024/assets/images/favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='/2024/assets/images/favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76' href='/2024/assets/images/favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114' href='/2024/assets/images/favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120' href='/2024/assets/images/favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144' href='/2024/assets/images/favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152' href='/2024/assets/images/favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='/2024/assets/images/favicon/apple-icon-180x180.png')
    link(rel='icon' type='image/png' sizes='192x192' href='/2024/assets/images/favicon/android-icon-192x192.png')
    link(rel='icon' type='image/png' sizes='32x32' href='/2024/assets/images/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='96x96' href='/2024/assets/images/favicon/favicon-96x96.png')
    link(rel='icon' type='image/png' sizes='16x16' href='/2024/assets/images/favicon/favicon-16x16.png')
    meta(name='msapplication-TileImage' content='/2024/assets/images/favicon/ms-icon-144x144.png')
    meta(name='theme-color' content='#000000')
    title Room D - OPP 2024 SPRING «New Face»
    script.
      (function(d) {var config = {kitId: 'sbe7hzx', scriptTimeout: 3000, async: true}, h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)})(document);
    link(rel='stylesheet' href='/2024/assets/styles/common.css')
    script(src='/assets/scripts/cssbrowserselector.js')
    script(src='/2024/assets/scripts/common.js' defer)
    script(src='/2024/assets/scripts/rooms.js' defer)
    script(src='/assets/scripts/seokki-hangul-beta.js' defer)
    swiper
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css')
    script(src='https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js')

  body#room
    header#header
      a(href='/2024' target='_self') 
        img(src='/2024/assets/images/private/opp-2024-logo.svg' alt='OPP 2024 SPRING - NEW FACE')
      button#btn-accessibility
        img(src='/2024/assets/images/private/accessibility-icon.svg' alt='')
      #info-accessibility
        .info
          p.tt 보기에 불편함을 겪고 계신가요?
          p.tt 배경색을 없애보세요.
        button#close-accessibility
          img(src='/2024/assets/images/private/accessibility-close.svg' alt='')
        button#toggle-accessibility
          .if-on
            p 접근성 끄기
            p 현재 켠 상태
          .if-off
            p 접근성 켜기
            p 현재 끈 상태

    nav#nav.show.for-rooms
      .inner
        a(href='/2024/room-a' target='_self') [A]
        a(href='/2024/room-b' target='_self') [B]
        a(href='/2024/room-c' target='_self') [C]
        a(href='/2024/room-d' target='_self') [D]
        a#scroll-top
          img.basic(src='/2024/assets/images/private/arrow-top.svg' alt='')
          img.white(src='/2024/assets/images/private/arrow-top-white.svg' alt='')

    main#main-room
      section#front
        h1 ROOM D
        p.field 기술·인문·사회·교양
      section#list
        ul
          //- li
          //-   .book-left
          //-     p.book-designer.tt
          //-   .book-right
          //-     .book-top
          //-       p.book-title.tt
          //-     .book-bottom
          //-       .book-bottom-left
          //-         p.book-author.tt
          //-         p.book-translator.tt
          //-       .book-bottom-right
          //-         p.book-publisher.tt
          //-         p.book-year
          li
            .book-left
              p.book-designer.tt 송유진
            .book-right
              .book-top
                p.book-title
                  span Leaking Subjects and Bounding Boxes: 
                  br.only-m
                  span On Training AI
              .book-bottom
                .book-bottom-left
                  p.book-author.tt 엘리사 자르디나 파파
                .book-bottom-right
                  p.book-publisher Sorry Press
                  p.book-year 2022
          li
            .book-left
              p.book-designer.tt 한정원
            .book-right
              .book-top
                p.book-title.tt 프로그래머, 열정을 말하다
              .book-bottom
                .book-bottom-left
                  p.book-author.tt 채드 파울러 지음
                  p.book-translator 송우일 옮김
                .book-bottom-right
                  p.book-publisher 인사이트
                  p.book-year 2012
          li
            .book-left
              p.book-designer.tt 배현
            .book-right
              .book-top
                p.book-title.tt 손자병법
              .book-bottom
                .book-bottom-left
                  p.book-author.tt 손무 지음
                  p.book-translator.tt 황병국 옮김
                .book-bottom-right
                  p.book-publisher.tt 범우사
                  p.book-year 1986
          li
            .book-left
              p.book-designer.tt 배현
            .book-right
              .book-top
                p.book-title.tt 새로운 질서
              .book-bottom
                .book-bottom-left
                  p.book-author.tt 민구홍
                .book-bottom-right
                  p.book-publisher.tt 미디어버스
                  p.book-year 2019
          li
            .book-left
              p.book-designer.tt 송유진
            .book-right
              .book-top
                p.book-title.tt 비생산적인 생산의 시간
              .book-bottom
                .book-bottom-left
                  p.book-author.tt 김보라
                .book-bottom-right
                  p.book-publisher.tt 북저널리즘
                  p.book-year 2018

      section#guide-description
        p.tt 작품 설명은 눌러서 밀어낼 수 있습니다.
        p.en Descriptions can be moved by clicking.

      section#works
        section.work.right
          .work-info
            .work-info-top
              p.book-designer.tt 송유진
              h2
                span Leaking Subjects and Bounding Boxes: 
                br.only-m
                span On Training AI
            .work-info-bottom
              p.book-author.tt 엘리사 자르디나 파파
              p.book-publisher Sorry Press
              p.book-year 2022
          .work-image
            img(src='/2024/assets/images/public/works/opp-newface-d-1-1-min.jpg' alt='')
          .work-image
            img(src='/2024/assets/images/public/works/opp-newface-d-1-2-min.jpg' alt='')
          .work-image
            img(src='/2024/assets/images/public/works/opp-newface-d-1-3-min.jpg' alt='')
            .work-caption
              p.tt 『Leaking Subjects and Bounding Boxes: On Training AI』는 데이터를 분류하고, 질서정연한 것과 무질서한 것을 구분하는 것을 통해 AI를 트레이닝하는 과정을 보여주는 책이다. 책싸개를 봤을 때 책이 어떤 내용을 전달하는지 대략적으로 파악할 수 있게 디자인했고, 객체감지법에서 활용하는 바운딩박스와 라벨링을 통해 제목을 표현하여 복잡한 타이포그래피 속 핵심 요소를 구분 지었다.
          .work-slide
            .swiper-wrapper
              .swiper-slide
                img(src='/2024/assets/images/public/works/opp-newface-d-1-4-min.jpg' alt='')
              .swiper-slide
                img(src='/2024/assets/images/public/works/opp-newface-d-1-5-min.jpg' alt='')
              .swiper-slide
                img(src='/2024/assets/images/public/works/opp-newface-d-1-6-min.jpg' alt='')
          .pdf-box
            .pdf-inner-top
              p.tt PDF 다운로드
            .pdf-inner-bottom
              button 3월 중순부터 제공됩니다.

        section.work
          .work-info
            .work-info-top
              p.book-designer.tt 한정원
              h2.tt 프로그래머, 열정을 말하다
            .work-info-bottom
              p.book-author.tt 채드 파울러 지음
              p.book-translator.tt 송우일 옮김
              p.book-publisher.tt 인사이트
              p.book-year 2012
          .work-image
            img(src='/2024/assets/images/public/works/opp-newface-d-2-1-min.jpg' alt='')
          .work-image
            img(src='/2024/assets/images/public/works/opp-newface-d-2-2-min.jpg' alt='')
          .work-image
            img(src='/2024/assets/images/public/works/opp-newface-d-2-3-min.jpg' alt='')
            .work-caption
              p.tt 『프로그래머, 열정을 말하다』는 프로그래머 뿐만 아니라 타인과 협업하는 모든 이들에게 유익한 책이다만, 나는 책의 내용보다 나의 레터링에 대해 더 말하고 싶다. 열정적이지만 너무 불타오르지 않고, 기교있지만 정돈된 제목 레터링을 원했고, 그렇게 그렸다. 레터링을 해본 경험이 많지 않아 글자를 처음부터 끝까지 세 번 갈아엎는 동안 나는 한번도 지친 적이 없다. 채드 파울러(Chad Fowler), 그리고 이 글을 읽고 있는 여러분, 나의 열정이 보인다면 내게 큰 박수를 보내주길 바란다.
          .work-slide
            .swiper-wrapper
              .swiper-slide
                img(src='/2024/assets/images/public/works/opp-newface-d-2-4-min.jpg' alt='')
              .swiper-slide
                img(src='/2024/assets/images/public/works/opp-newface-d-2-5-min.jpg' alt='')
              .swiper-slide
                img(src='/2024/assets/images/public/works/opp-newface-d-2-6-min.jpg' alt='')
          .pdf-box
            .pdf-inner-top
              p.tt PDF 다운로드
            .pdf-inner-bottom
              button 3월 중순부터 제공됩니다.

        section.work.right
          .work-info
            .work-info-top
              p.book-designer.tt 배현
              h2.tt 손자병법
            .work-info-bottom
              p.book-author.tt 손무 지음
              p.book-translator.tt 황병국 옮김
              p.book-publisher.tt 범우사
              p.book-year 1986
          .work-image
            img(src='/2024/assets/images/public/works/opp-newface-d-3-1-min.jpg' alt='')
          .work-image
            img(src='/2024/assets/images/public/works/opp-newface-d-3-2-min.jpg' alt='')
          .work-image
            img(src='/2024/assets/images/public/works/opp-newface-d-3-3-min.jpg' alt='')
            .work-caption
              p.tt 손자병법은 전 세계에서 가장 유명한 고대 중국의 병법서이다. 이 책은 무척 오래됐지만, 책에서 말하는 전쟁에서 승리하는 방식은 현대 사회에서도 큰 의미가 있다는 것은 널리 알려져 있다. 전 세계의 많은 리더들이 이 책을 읽었다는 사실도 이미 유명하다.
              p.tt 병법서는 나를 보호하기 위한 책으로 간주되기도 한다. 무언가로부터 보호하고 어떠한 것을 이끌기 위한 희망을 심어주는 이 책이 부적처럼 느껴졌기 때문에, 부적과 같은 모습을 한 책싸개를 디자인했다.
          .work-slide
            .swiper-wrapper
              .swiper-slide
                img(src='/2024/assets/images/public/works/opp-newface-d-3-4-min.jpg' alt='')
              .swiper-slide
                img(src='/2024/assets/images/public/works/opp-newface-d-3-5-min.jpg' alt='')
              .swiper-slide
                img(src='/2024/assets/images/public/works/opp-newface-d-3-6-min.jpg' alt='')
          .pdf-box
            .pdf-inner-top
              p.tt PDF 다운로드
            .pdf-inner-bottom
              button 3월 중순부터 제공됩니다.

        section.work
          .work-info
            .work-info-top
              p.book-designer.tt 배현
              h2.tt 새로운 질서
            .work-info-bottom
              p.book-author.tt 민구홍
              p.book-publisher.tt 미디어버스
              p.book-year 2019
          .work-image
            img(src='/2024/assets/images/public/works/opp-newface-d-4-1-min.jpg' alt='')
          .work-image
            img(src='/2024/assets/images/public/works/opp-newface-d-4-2-min.jpg' alt='')
          .work-image
            img(src='/2024/assets/images/public/works/opp-newface-d-4-3-min.jpg' alt='')
            .work-caption
              p.tt 『새로운 질서』는 민구홍 디자이너의 교양 강좌를 간추린 것으로, ‘새로운 질서’라는 제목에 걸맞게 질서로부터 파생된 이야기들을 독자에게 전달한다. 특히 목록에 관한 이야기와 웹사이트를 책과 연결 짓는 부분이 흥미로웠다.
              p.tt 제목이 주는 힘 덕분인지, 주로 직접적으로 의미를 전달하거나 직관적인 이미지 제작을 피하는 나의 작업 성향에 새로운 질서를 부여하고 싶었다. 그래서 책이 담고 있는 여러 질서들을 직관적으로 보여줌으로써 또 다른 새로운 질서를 만들었다.
          .work-slide
            .swiper-wrapper
              .swiper-slide
                img(src='/2024/assets/images/public/works/opp-newface-d-4-4-min.jpg' alt='')
              .swiper-slide
                img(src='/2024/assets/images/public/works/opp-newface-d-4-5-min.jpg' alt='')
              .swiper-slide
                img(src='/2024/assets/images/public/works/opp-newface-d-4-6-min.jpg' alt='')
          .pdf-box
            .pdf-inner-top
              p.tt PDF 다운로드
            .pdf-inner-bottom
              button 3월 중순부터 제공됩니다.

        section.work.right
          .work-info
            .work-info-top
              p.book-designer.tt 송유진
              h2.tt 비생산적인 생산의 시간
            .work-info-bottom
              p.book-author.tt 김보라
              p.book-publisher.tt 북저널리즘
              p.book-year 2018
          .work-image
            img(src='/2024/assets/images/public/works/opp-newface-d-5-1-min.jpg' alt='')
          .work-image
            img(src='/2024/assets/images/public/works/opp-newface-d-5-2-min.jpg' alt='')
          .work-image
            img(src='/2024/assets/images/public/works/opp-newface-d-5-3-min.jpg' alt='')
            .work-caption
              p.tt 『비생산적인 생산의 시간』은 영화감독 지망생들을 심층 인터뷰하여 창조적 작업을 위해 거치는 과정을 살피는 인터뷰집이다. 책의 성격을 표지에서 드러내기 위해 인터뷰 형식을 차용하여 디자인했다. 또한 그저 묵묵히 작업을 하기 위해 시간을 보내는 모든 것들이 생산적인 일임을 나타내고자 하였다.
          .work-slide
            .swiper-wrapper
              .swiper-slide
                img(src='/2024/assets/images/public/works/opp-newface-d-5-4-min.jpg' alt='')
              .swiper-slide
                img(src='/2024/assets/images/public/works/opp-newface-d-5-5-min.jpg' alt='')
              .swiper-slide
                img(src='/2024/assets/images/public/works/opp-newface-d-5-6-min.jpg' alt='')
          .pdf-box
            .pdf-inner-top
              p.tt PDF 다운로드
            .pdf-inner-bottom
              button 3월 중순부터 제공됩니다.

      footer © 2024 OPP.